<div id="banner">
  <!-- <h2>Something</h2> -->
  <!-- <div id="bannerBox">
    <h3>Navigate your online learning</h3>
    <a class="waves-effect waves-light btn btn-primary">Get Started</a>
  </div> -->
</div>
<div class="row description">
  <div class="col s4 center-align">
    <i class="medium material-icons">search</i>
    <p>Find out which courses you need to take to satisfy degree requirements.</p>
  </div>
  <div class="col s4 center-align">
    <i class="medium material-icons">assignment</i>
    <p>Create schedules based on your interests and your current level.</p>
  </div>
  <div class="col s4 center-align">
    <i class="medium material-icons">done</i>
    <p>Track your progress as you complete courses.</p>
  </div>
</div>